@model SiteMapNodeModel

@if ( Model.SourceMetadata["HtmlHelper"].ToString() == "MvcSiteMapProvider.Web.Html.SiteMapPathHelper" )
{
    if ( Model.IsClickable )
    {
        <a href="@Model.Url">@Model.Title</a>
    }
    else
    {
        <text>@Model.Title</text>
    }

    @*if ( !Model.IsCurrentNode && Model.IsClickable )*@
}
else if ( Model.SourceMetadata["HtmlHelper"].ToString() == "MvcSiteMapProvider.Web.Html.MenuHelper" )
{
    bool hasImage = !string.IsNullOrEmpty( Model.ImageUrl );
    
    if ( Model.IsClickable )
    {
        <a href="@Model.Url">
            @if ( hasImage )
            {
                <img src="@Url.Content( Model.ImageUrl )" alt="@Model.Title" />
            }
            @Model.Title
        </a>
    }
    else
    {
        <a href="#">
            <span>
                @if ( hasImage )
                {
                    <img src="@Url.Content( Model.ImageUrl )" alt="@Model.Title" />
                }
                @Model.Title
            </span>
        </a>
    }
}
else
{
    <text>@Model.Title</text>
}
