@model IEnumerable<MvcExpense.Models.OrdinaryExpense>

@{
    ViewBag.Title = "Ordinary Expense";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.StartDate.ToString( "dd-MMM-yyyy" ) to @ViewBag.EndDate.ToString( "dd-MMM-yyyy" )</h3>

<h3>To do</h3>
<ol>
    <li>Edit page reuse create page</li>
</ol>

<p>
    @Html.ActionLink( "Create New", "Create", null, new { accesskey = "C" } )
</p>
<table>
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                @*Sequence*@
            </th>
            <th>
                Price
            </th>
            <th>
                Consumer
            </th>
            <th>
                Category
            </th>
            <th>
                Description
            </th>
            <th>
                Payment Method
            </th>
            @*<th>
                Remarks
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @string.Format("{0:dd MMM yyyy ddd}",item.Date)
                @*@Html.DisplayFor(modelItem => item.Date)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sequence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    </tbody>
</table>
