@model MvcExpense.ViewModels.PaymentMethodEditModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>PaymentMethod</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Sequence)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor( model => model.PreviousItemSequence, "After" )
        </div>
        <div class="editor-field">
            @Html.DropDownListFor( model => model.PreviousItemSequence, Model.SequenceSelectList )
            @Html.ValidationMessageFor( model => model.PreviousItemSequence )
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
